<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sketch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<div id="page">
    <header>
        <a href="../index.html" th:href="@{/public}">
            <img src="/images/logo.png" width="40%"/>
        </a>
        <div width="80%">
            <div th:if="${session.currentUser != null}">
                <span> Welcome User: </span>
                <b>
                    <span th:text="${session.currentUser.username}"> </span>
                </b>
                <a href="/logout" th:href="@{/logout}">Logout</a>
                <a href="/cart.html" th:href="@{/templates/order/cart.html}">
                    <img src="../../public/images/cart.png" th:src="@{/images/cart.png}" width="10%"/>
                </a>
            </div>
        </div>
    </header>
    <div id="content" class="transparent-grey">
        <div id="intro-text">
            <h1>Skræddersyet Carport</h1>

            <h2>Skitse</h2>
            <p>Du har valgt en carport med målene:</p>
            <table>
                <tr><td>Bredde:</td><td th:text="${session.width}"></td></tr>
                <tr><td>Længde:</td><td th:text="${session.length}"></td></tr>

            </table>

            <h1>Tegning af Carport</h1>

            <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0" y="0"
                 width="80%" viewBox="0 0 855 690"
                 preserveAspectRatio="xMinYMin">

                <defs>
                    <marker id="beginArrow" markerWidth="12" markerHeight="12" refX="0" refY="6" orient="auto">
                        <path d="M0,6 L12,0 L12,12 L0,6" style="fill: #000000;" />
                    </marker>
                    <marker id="endArrow" markerWidth="12" markerHeight="12" refX="12" refY="6" orient="auto">
                        <path d="M0,0 L12,6 L0,12 L0,0 " style="fill: #000000;" />
                    </marker>
                </defs>

                <!-- Ramme -->


                <!-- Pile -->
                <line x1="40" y1="10" x2="40" y2="610" style="stroke:#000000;
        marker-start: url(#beginArrow);
        marker-end: url(#endArrow);" />

                <line x1="75" y1="650" x2="855" y2="650" style="stroke:#000000;
        marker-start: url(#beginArrow);
        marker-end: url(#endArrow);" />

                <!-- Text: Mål -->
                <text style="text-anchor: middle" transform="translate(30,300) rotate(-90)" th:text="${session.width}">600 cm</text>
                <text style="text-anchor: middle" x="502" y="670" th:text="${session.length}">780 cm</text>

                <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" th:if="${session.length < 600}" x="75" y="10" width="800" height="600" viewBox="0 0 780 600" preserveAspectRatio="xMinYMin">

                    <!-- Ramme -->
                    <rect x="0" y="0" height="600" width="800" style="stroke-width:15px; stroke:#000000; fill: #ffffff" />
                    <!-- Remme -->
                    <rect x="0" y="35" height="4.5" width="780" style="stroke:#000000; fill: #ffffff"/>
                    <rect x="0" y="565" height="4.5" width="780" style="stroke:#000000; fill: #ffffff"/>
                    <!-- Spær -->
                    <rect x="0" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" th:height="${session.lenght}"/>
                    <rect x="775.5" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" th:height="${session.lenght}"/>

                    <!-- Kryds -->
                    <line x1="55" y1="35" x2="600" y2="569.5" style="stroke:#000000; stroke-dasharray: 5 5;" />
                    <line x1="55" y1="569.5" x2="600" y2="35" style="stroke:#000000; stroke-dasharray: 5 5;" />

                    <!-- Antal Stolper for længden af REM under 600cm  -->
                        <rect x="110" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="420" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="730" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="110" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="420" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="730" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />

                </svg>
                <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" th:if="${session.length > 600}" x="75" y="10" width="800" height="600" viewBox="0 0 780 600" preserveAspectRatio="xMinYMin">

                    <!-- Ramme -->
                    <rect x="0" y="0" height="600" width="800" style="stroke-width:15px; stroke:#000000; fill: #ffffff" />
                    <!-- Remme -->
                    <rect x="0" y="35" height="4.5" width="780" style="stroke:#000000; fill: #ffffff"/>
                    <rect x="0" y="565" height="4.5" width="780" style="stroke:#000000; fill: #ffffff"/>
                    <!-- Spær -->
                    <rect x="0" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" th:height="${session.lenght}"/>
                    <rect x="775.5" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" th:height="${session.lenght}"/>

                    <!-- Kryds -->
                    <line x1="55" y1="35" x2="600" y2="569.5" style="stroke:#000000; stroke-dasharray: 5 5;" />
                    <line x1="55" y1="569.5" x2="600" y2="35" style="stroke:#000000; stroke-dasharray: 5 5;" />

                    <!-- Antal Stolper for længden af REM OVER 600cm -->
                    <rect x="110" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="270" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="434" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="596" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="110" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="270" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="434" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="596" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                </svg>

            </svg>

            <h2>Indsend forespørgsel</h2>
            <p>Ønsker du at bestille denne carport?.</p>

           <p>indtast dine kontakt oplyninger, så sender vi dig et tilbud og en fabelagtig pri$</p>
            <h1>Vælg leveringsadresse og kontaktoplysninger:</h1>

            <div class="centered-form">
                <form method="get">

                    <input class="simpleShapeInp" type="text" name="fullname" placeholder="Skriv dit fulde navn">
                    <br>
                    <input class="simpleShapeInp" type="text" name="address" placeholder="Adresse (vej + husnummer):">
                    <br>
                    <input class="simpleShapeInp" type="text" name="postalcode" placeholder="Postnummer:">
                    <br>
                    <input class="simpleShapeInp" type="text" name="city" placeholder="By:">
                    <br>
                    <input class="simpleShapeInp" type="text" name="phonenumber" placeholder="Telefonnummer:">
                    <br>
                    <input class="simpleShapeInp" type="text" name="email" placeholder="Email-addresse:">
                    <br>
                    <button class="simpleShapeBtn" type="submit" formaction="/sendrequest">Indsend forespørgsel</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
