<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Carport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet"/>
    <script>
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideToggle("slow");
            });
        });
    </script>
</head>
<body>

<div id="page">
    <header>
        <a href="index.html" th:href="@{/}">
            <img src="/images/logo.png" width="40%"/>
        </a>
        <div width="100%">
            <input type="checkbox" id="menu-toggle" hidden="hidden">
            <div id="flip" class="simpleShapeBtn">
                <label for="menu-toggle" class="menu-icon">&#9776;</label>
            </div>
            <div id="panel">
                <nav>
                    <ul>
                        <li><a href="/index.html" th:href="@{/}">Home</a></li>
                        <li><a href="/index.html" th:href="@{/}">Order Carport</a></li>
                        <li th:if="${session.currentUser != null}">
                            <a href="/index.html" th:href="@{/showaccount}">Account</a>
                        </li>
                        <li th:if="${session.currentUser != null}">
                            <a href="/index.html" th:href="@{/cart}">Cart</a>
                        </li>
                        <div th:if="${session.currentUser != null}">

                            <a href="/logout" th:href="@{/logout}">Logout</a>
                            <span> Welcome User: </span>
                            <b>
                                <span th:text="${session.currentUser.username}"> </span>
                            </b>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <div id="content" class="transparent-grey">
        <div id="intro-text">
            <h1>Skræddersyet Carport</h1>

            <h2>Skitse</h2>
            <p>Du har valgt en carport med målene:</p>
            <table class="simpleShapeInp">
                <a href="index.html" th:href="@{/login}" >Tilbage til Calculator</a>
                <tr><td>Bredde:</td><td th:text="${session.width}"></td></tr>
                <tr><td>Længde:</td><td th:text="${session.length}"></td></tr>
            </table>

            <h1>Tegning af Carport</h1>

            <svg version="1.1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0" y="0"
                 width="80%" viewBox="0 0 855 690"
                 preserveAspectRatio="xMinYMin">

                <defs>
                    <marker id="beginArrow" markerWidth="12" markerHeight="12" refX="0" refY="6" orient="auto">
                        <path d="M0,6 L12,0 L12,12 L0,6" style="fill: #000000;" />
                    </marker>
                    <marker id="endArrow" markerWidth="12" markerHeight="12" refX="12" refY="6" orient="auto">
                        <path d="M0,0 L12,6 L0,12 L0,0 " style="fill: #000000;" />
                    </marker>
                </defs>

                <!-- Ramme -->


                <!-- Pile -->
                <line x1="40" y1="10" x2="40" y2="610" th:y2="${session.width + 15}" style="stroke:#000000;
        marker-start: url(#beginArrow);
        marker-end: url(#endArrow);" />

                <line x1="75" y1="650" x2="855" y2="650" th:x2="${session.length + 80}" th:y1="${session.width + 45}" th:y2="${session.width + 45}" style="stroke:#000000;
        marker-start: url(#beginArrow);
        marker-end: url(#endArrow);" />


                <!-- 6 stolper -->
                <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" th:if="${session.length <= 599 && session.width <= 599}" x="75" y="10" width="800" height="600" viewBox="0 0 780 600" preserveAspectRatio="xMinYMin">

                    <!-- Ramme -->
                    <rect x="0" y="0" height="600" width="800" style="stroke-width:10px; stroke:#000000; fill: #ffffff" th:height="${session.width}" th:width="${session.length}"/>
                    <!-- Rem -->
                    <rect x="0" y="35" height="4.5" width="780" style="stroke:#000000; fill: #ffffff" th:width="${session.length}"/>
                    <rect x="0" y="565" height="4.5" width="780" style="stroke:#000000; fill: #ffffff" th:y="${session.width -35}" th:width="${session.length}"/>
                    <!-- Spær -->
                    <rect x="0" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" th:height="${session.width}"/>
                    <rect x="775.5" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" th:x="${session.length}" th:height="${session.width}"/>
                    <!-- Kryds -->
                    <line x1="55" y1="35" x2="600" y2="569.5" th:x2="${session.length}" th:y2="${session.width - 35}" style="stroke:#000000; stroke-dasharray: 5 5;" />
                    <line x1="55" y1="569.5" x2="600" y2="35" th:y1="${session.width - 35}" th:x2="${session.length}" style="stroke:#000000; stroke-dasharray: 5 5;" />

                    <!-- Antal Stolper for længden af REM under 600cm  -->
                        <rect x="110" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="420" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="730" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="110" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="420" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                        <rect x="730" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />

                </svg>
                <!-- 8 stolper -->
                <svg  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" th:if="${session.length >=600}" x="75" y="10" width="800" height="600" viewBox="0 0 780 600" preserveAspectRatio="xMinYMin">

                    <!-- Ramme -->
                    <rect x="0" y="0" height="600" width="800" style="stroke-width:15px; stroke:#000000; fill: #ffffff" />
                    <!-- Remme -->
                    <rect x="0" y="35" height="4.5" width="780" style="stroke:#000000; fill: #ffffff"/>
                    <rect x="0" y="565" height="4.5" width="780" style="stroke:#000000; fill: #ffffff"/>
                    <!-- Spær -->
                    <rect x="0" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" th:height="${session.length}"/>
                    <rect x="775.5" y="0" height="600" width="4.5" style="stroke:#000000; fill: #ffffff" th:height="${session.length}"/>

                    <!-- Kryds -->
                    <line x1="55" y1="35" x2="600" y2="569.5" style="stroke:#000000; stroke-dasharray: 5 5;" />
                    <line x1="55" y1="569.5" x2="600" y2="35" style="stroke:#000000; istroke-dasharray: 5 5;" />

                    <!-- Antal Stolper for længden af REM OVER 600cm -->
                    <rect x="110" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="270" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="434" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="596" y="32" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="110" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="270" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="434" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                    <rect x="596" y="562" height="9.7" width="10" style="stroke:#000000; fill: #ffffff" />
                </svg>

            </svg>

            <h2>Indsend forespørgsel</h2>
            <p>Ønsker du at bestille denne carport?.</p>

           <p>indtast dine kontakt oplyninger, så sender vi dig et tilbud og en fabelagtig pri$</p>

            <div class="centered-form">
                <form method="get">
                    <button class="simpleShapeBtn" type="submit" formaction="/sendrequest">Fortsæt til Kontakt oplysninger.</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
