<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Fog Carport</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h2>Bill of Materials</h2>
<p>Carport :</p>

<table>
  <tr><td>Carport Width:</td><td th:text="${session.width}"></td></tr>
  <tr><td>Carport Length:</td><td th:text="${session.length}"></td></tr>
</table>

<form method="get">
  <p>Bill of Material:</p>
  <table>
    <thead>
    <tr>
      <th>Materials</th>
      <th>Length</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${materialItems}">
      <td th:text="${item.materialVariant.material.name}"></td>
      <td th:text="${item.materialVariant.length}"></td>
      <td th:text="${item.quantity}"></td>
      <td th:text="${item.materialVariant.material.unit}"></td>
      <td th:text="${item.description}"></td>
    </tr>
    </tbody>
  </table>
</form>


<form method="get">
  <button type="submit" formaction="/sendrequest">Gå tilbage</button>
</form>
</body>


<!--<form method="get">-->
<!--  <table class="food-table">-->
<!--    <thead>-->

<!--    <tr>-->
<!--      <th>List of food in season</th>-->

<!--    </tr>-->

<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="food: ${foodList}">-->
<!--      <td th:text="${food.foodItem}"></td>-->
<!--      &lt;!&ndash;                <td>&ndash;&gt;-->
<!--      &lt;!&ndash;                    <button type="submit" name="taskId" th:value="${task.taskId}" formaction="undo">Undo</button>&ndash;&gt;-->
<!--      &lt;!&ndash;                    <button type="submit">Edit</button>&ndash;&gt;-->
<!--      &lt;!&ndash;                    <button type="submit" name="taskId" th:value="${task.taskId}" formaction="deletetask">Delete</button>&ndash;&gt;-->
<!--      &lt;!&ndash;                    </td>&ndash;&gt;-->

<!--    </tr>-->
<!--    </tbody>-->

<!--  </table>-->
<!--</form>-->

</body>
</html>
