<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Fog Carport</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h2>Bill of Materials</h2>
<p>Carport :</p>
<table>
  <tr>
    <td>Width:</td>
    <td th:text="${width}"></td>
  </tr>
  <tr>
    <td>Length:</td>
    <td th:text="${length}"></td>
  </tr>
</table>
<p>Bill of Material:</p>
<table>
  <thead>
  <tr>
    <td>Materials</td>
    <td>Length</td>
    <td>Quantity</td>
    <td>Unit</td>
    <td>Description</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item: ${material_item}">
    <td th:text="${item.materialVariant.material.name}"></td>
    <td th:text="${item.materialVariant.length}"></td>
    <td th:text="${item.quantity}"></td>
    <td th:text="${item.materialVariant.material.unit}"></td>
    <td th:text="${item.describable}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
