<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div id="page">
    <header>
        <a href="../index.html" th:href="@{/public}">
            <img src="/images/logo.png" width="20%"/>
        </a>
        <div width="80%">
            <div th:if="${session.currentUser != null}">
                <span> Welcome User: </span>
                <b>
                    <span th:text="${session.currentUser.username}"> </span>
                </b>
                <a href="/logout" th:href="@{/logout}">Logout</a>
                <a href="/cart.html" th:href="@{/cart}">
                    <img src="../../public/images/cart.png" th:src="@{/images/cart.png}" width="10%"/>
                </a>

            </div>
        </div>
    </header>
    <div id="content" class="transparent-grey">
        <div id="intro-text">
            <div th:if="${order != null}">
                <p>Order ID: <span th:text="${order.id}"></span></p>
                <p>Customer ID: <span th:text="${order.userId}"></span></p>
                <p>Total Amount: <span th:text="${order.totalPrice}"></span></p>
                <!-- Add more fields as necessary -->
            </div>
            <div th:if="${session.currentUser == null}">
                <form class="generic-form" method="post">
                    <input type="text" name="username" placeholder="Enter your username"/>
                    <input type="password" name="password" placeholder="Enter your password"/>
                    <button class="btn btn-ok" type="submit" formaction="login">Login</button>
                    <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
                </form>
                <a href="/createuser.html" th:href="@{/createuser}">Create User</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>