<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Carport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>


<div id="page">
    <header>
        <a href="../index.html" th:href="@{/public}">
            <img src="/images/logo.png" width="20%"/>
        </a>
        <div width="80%">
            <div th:if="${session.currentUser != null}">
                <span> Welcome User: </span>
                <b>
                    <span th:text="${session.currentUser.username}"> </span>
                </b>
                <a href="/logout" th:href="@{/logout}">Logout</a>
                <a href="/public" th:href="@{/public}">
                    <img src="../../public/images/cart.png" th:src="@{/images/cart.png}" width="10%"/>
                </a>
            </div>
        </div>
    </header>
    <div id="content" class="transparent-grey">
        <div id="intro-text">
            <h1>Vælg hvor mange penge du vil indsætte:</h1>

            <div class="centered-form">

                <form method="post">
                    <p>Indtast beløb der skal sættes ind i din konto:</p>
                    <input type="number" name="inputMoney" placeholder="Skriv et positivt pengebeløb">

                    <button type="submit" formaction="/inputmoney">Gå videre til betaling</button>
                </form>
                <a href="/index.html" th:href="@{/public}">Gå tilbage</a>

            </div>
            <p class="errormessage" th:text="${#ctx.message}"></p>
            <div th:if="${session.currentUser != null}">
                <span th:text="${session.currentUser.username}"> </span> |
                <a href="/logout" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>