<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>


<div id="page">
    <header>

        <a href="../index.html" th:href="@{/public}">
            <img src="/images/logo.png" width="20%"/>
        </a>
        <div width="80%">
            <div th:if="${session.currentUser != null}">
                <span> Welcome User: </span>
                <b>
                    <span th:text="${session.currentUser.username}"> </span>
                </b>
                <a href="/logout" th:href="@{/logout}">Logout</a>
                <a href="/public" th:href="@{/public}">
                    <img src="../../public/images/cart.png" th:src="@{/images/cart.png}" width="10%"/>
                </a>
            </div>
        </div>
    </header>
    <div id="content" class="transparent-grey">
        <div id="intro-text">
            <h1>Betal for din ordre:</h1>

            <div class="centered-form">

                <table>
                    <tr><td>Du har nuværende </td><td th:text="${session.currentUser.userBalance}"><td> kr. i din konto</td></td>
                    </tr>
                </table>


                <form method="post">
                    <table>
                        <tr><td>Tryk "betal" for at betale </td><td th:text="${session.totalPrice}"><td> kr.</td></td></tr>
                    </table>

                    <button type="submit" formaction="/payForOrder">Betal for ordren</button>
                </form>
                <a href="/insertmoney" th:href="@{/insertmoney}">Indsæt penge på kontoen</a>
                <a href="/showbom" th:href="@{/showbom}">Gå tilbage</a>

            </div>
            <p class="errormessage" th:text="${#ctx.message}"></p>
            <div th:if="${session.currentUser != null}">
                <span th:text="${session.currentUser.username}"> </span> |
                <a href="/logout" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>