<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Carport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet"/>
    <script>
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideToggle("slow");
            });
        });
    </script>
</head>
<body>

<div id="page">
    <header>
        <a href="index.html" th:href="@{/}">
            <img src="/images/logo.png" width="40%"/>
        </a>
        <div width="100%">
            <input type="checkbox" id="menu-toggle" hidden="hidden">
            <div id="flip" class="simpleShapeBtn">
                <label for="menu-toggle" class="menu-icon">&#9776;</label>
            </div>
            <div id="panel">
                <nav>
                    <ul>
                        <li><a href="/index.html" th:href="@{/}">Home</a></li>
                        <li><a href="/index.html" th:href="@{/}">Order Carport</a></li>
                        <li th:if="${session.currentUser != null}">
                            <a href="/index.html" th:href="@{/showaccount}">Account</a>
                            <a href="/index.html" th:href="@{/cart}">Cart</a>

                        </li>
                        <div th:if="${session.currentUser != null}">

                            <a href="/logout" th:href="@{/logout}">Logout</a>
                            <span> Welcome User: </span>
                            <b>
                                <span th:text="${session.currentUser.username}"> </span>
                            </b>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <div id="content" class="transparent-grey">
        <div id="intro-text">
            <div th:if="${session.currentUser != null && session.currentUser.userrole == 'admin'}">
                <h1>List of all Orders </h1>
                    <form method="post">
                        <table>
                            <tr>
                                <th>Order number</th>
                                <th>Status ID</th>
                                <th>Length</th>
                                <th>Width</th>
                                <th>Total Price</th>
                                <th>Customer:</th>
                            </tr>
                            <tr th:each="item: ${orders}">
                                <td th:text="${item.orderID}"></td>
                                <td th:text="${item.length}"></td>
                                <td th:text="${item.width}"></td>
                                <td th:text="${item.totalPrice}"></td>
                                <td th:text="${item.statusID}"></td>
                                <td th:text="${item.user.userName}"></td>
                                <td><button type="submit" name="orderId" th:value="${item.orderID}" formaction="/showbom">See Materials</button></td>
                            </tr>
                        </table>
                    </form>
            </div>
                <div th:if="${session.currentUser != null && session.currentUser.userrole == 'customer'}">
                    <h1>Account Balance </h1>
                    <form method="get">
                        <table>
                            <tr>
                                <th>User ID</th>
                                <th>User Name</th>
                                <th>Total Balance</th>
                            </tr>
                            <tr>
                                <td th:text="${session.currentUser.userId}"></td>
                                <td th:text="${session.currentUser.userName}"></td>
                                <td th:text="${session.currentUser.userBalance}"></td>
                                <td><button type="submit" name="account-balance" formaction="/">Go Back</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="carport-svg-topview">
                    <div th:utext="${svg}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>