
div {
    /* border: 1px red solid;*/
}

body {
    display: flex;
    justify-content: center;
    background-image: url("../images/background.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
nav {
    position: absolute;
    width: 100vw;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    align-self: center;
    flex-shrink: 0;
}

nav a {
    display: block;
}

.brand a {
    text-decoration: none;
    background: none;
}

#page {
    min-height: 800px;
    max-width: 1600px;

}

header {
    display: flex;
    background-color: blue;
}


#content {
    display: flex;
}

#intro-text {
    padding:20px;
    text-align: center;
}

#dropdowns {
    display: flex;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

#dropdowns select {
    flex-grow: 1;
    font-size: 1.3rem;
    padding:10px;
    text-align: center;
    border-radius: 5px;
}
.transparent-grey {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 0px 44px 7px rgba(0,0,0,0.32);
    -webkit-box-shadow: 10px 0px 44px 7px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 0px 44px 7px rgba(0,0,0,0.32);
}
.simpleShapeInp{
    margin-top: 15px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}
.simpleShapeBtn{
    margin-top: 20px;
    height: 30px;
    background-color: blue;
    color: white;
    cursor: pointer;

}
.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
}
#menu-toggle:checked ~ nav ul {
    display: block;
}


@media (max-width: 81em) {
    nav ul {
        display: none;
    }
}
@media (max-width: 81em) {
    nav ul {
        flex-direction: column;
    }
    nav a {
        padding: 0.4em 0;
    }
}

@media (min-width: 81em) {
    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }
    .brand {
        margin-right: auto;
    }
    nav a {
        padding: 0.6rem;
    }
    nav ul li:not(:first-child):not(:last-child) {
        margin-right: 2.5rem;
    }
}

@media screen and (max-width: 600px){

    #dropdowns {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    body {
        flex-direction: column;
        align-items: center;
    }



}
.icon-container {
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}
tr:nth-child(odd) {
    background-color: #e9e5e5;
}

button {
    border-radius: 5px;
}




