<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Carport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<div id="page">
    <header>
        <a href="index.html" th:href="@{/}">
            <img src="/images/logo.png" width="20%"/>
        </a>
        <div width="80%">
            <div th:if="${session.currentUser != null}">
                <span> Welcome User: </span>
                <b>
                     <span th:text="${session.currentUser.username}"> </span>
                </b>
                <a href="/logout" th:href="@{/logout}">Logout</a>
                <a href="/index.html" th:href="@{/}">
                    <img src="../public/images/cart.png" th:src="@{/images/cart.png}" width="10%"/>
                </a>
            </div>
        </div>
    </header>
    <div id="content" class="transparent-grey">
        <div id="intro-text">
            <div th:if="${session.currentUser == null}">

                <form class="generic-form" method="post">
                    <input type="text" name="username" placeholder="Enter your username"/>
                    <input type="password" name="password" placeholder="Enter your password"/>
                    <button class="btn btn-ok" type="submit" formaction="login">Login</button>
                    <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
                </form>
                <a href="/createuser.html" th:href="@{/createuser}">Create User</a>
                <h1>Welcome Guest!</h1>

            </div>
            <div th:if="${session.currentUser != null && session.currentUser.userrole == 'customer'}">
            <h1>Welcome Customer! Order Carport</h1>

            <h2>Skræddersyet carport</h2>

            <form method="post">
                <select name="width">
                    <option value="240">240 cm</option>
                    <option value="270">270 cm</option>
                    <option value="300">300 cm</option>
                    <option value="330">330 cm</option>
                    <option value="360">360 cm</option>
                    <option value="390">390 cm</option>
                    <option value="420">420 cm</option>
                    <option value="450">450 cm</option>
                    <option value="480">480 cm</option>
                    <option value="510">510 cm</option>
                    <option value="540">540 cm</option>
                    <option value="570">570 cm</option>
                    <option value="600">600 cm</option>
                </select>

                <select name="length">
                    <option value="240">240 cm</option>
                    <option value="270">270 cm</option>
                    <option value="300">300 cm</option>
                    <option value="330">330 cm</option>
                    <option value="360">360 cm</option>
                    <option value="390">390 cm</option>
                    <option value="420">420 cm</option>
                    <option value="450">450 cm</option>
                    <option value="480">480 cm</option>
                    <option value="510">510 cm</option>
                    <option value="540">540 cm</option>
                    <option value="570">570 cm</option>
                    <option value="600">600 cm</option>
                    <option value="630">630 cm</option>
                    <option value="660">660 cm</option>
                    <option value="690">690 cm</option>
                    <option value="720">720 cm</option>
                    <option value="750">750 cm</option>
                    <option value="780">780 cm</option>
                </select>
                <button type="submit" formaction="/showsketch">Vis skitse</button>
            </form>
            </div>
            <div th:if="${session.currentUser != null && session.currentUser.userrole == 'admin'}">
                <h1>Hello admin</h1>
                <p>this is your control panel</p>
                <form method="post">
                    <button type="submit" formaction="/inputmoney">Insert Money</button>
                    <button type="submit" formaction="/showorders">Show Orders</button>
                    <a href="/createuser.html" th:href="@{/createuser}">Create User</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>